<div class="delivery-wrapper">
  <div class="background-overlay"></div>

  <div class="delivery-card">
    <h2>Panel de Delivery</h2>
    <app-header></app-header>
    <p>Compartiendo ubicación cada 10 segundos...</p>

    <div id="map" style="height: 400px; width: 100%;"></div>

    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Dirección entrega</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pkg of packages">
          <td>{{ pkg.id }}</td>
          <td>{{ pkg.address }}</td>
          <td>
            <select [value]="pkg.status" (change)="updatePackageStatus(pkg.id, $event)">
              <option>En transito</option>
              <option>Entregado</option>
              <option>Regresado</option>
            </select>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
